.container{
    margin: 20px;
    background:    rgb(2,0,36);
    background: -moz-radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(121,9,81,1) 17%, rgba(0,212,255,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(121,9,81,1) 17%, rgba(0,212,255,1) 100%);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(121,9,81,1) 17%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
    display: flex;
    justify-content:space-evenly;
    border-radius: 5px;
    box-shadow: 5px 5px 5px gray;
    width: 78%;
    flex-wrap: wrap;
}