.container{
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.input {

    padding: 5px;
    display: flex;
    flex-direction: row;
}

.barraBusqueda{
    height: 7vh;
    width: 50vh;
    padding: 0 20px;
    font-size: 18px;
    color: black;
    outline: none;
    border: 1px solid silver;
    border-radius: 5px 0px 0px 5px;
}
 button{
    margin-left: 0%;
    height: 7vh;
    border-radius: 0px 5px 5px 0px;
    outline: none;
    border: 1px solid silver;
    font-size: 18px;
    padding: 9px;
}